/* RESET */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-image: url("https://img.freepik.com/premium-photo/pencil-checking-off-todo-list-3d-rendering-with-blue-background-copy-space_67155-21193.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* DARK OVERLAY */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(10, 20, 40, 0.75);
  z-index: -1;
}

/* CENTER PAGE */
.home-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.home-card {
  width: 900px;
  background: rgba(15, 23, 42, 0.85);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 60px;
  text-align: center;
  box-shadow: 0 40px 80px rgba(0,0,0,0.6);
}

/* TITLE */
.home-title {
  font-size: 48px;
  margin-bottom: 20px;
  color: #ffffff;
}

/* TEXT */
.home-desc {
  color: #cbd5e1;
  line-height: 1.6;
  font-size: 18px;
  margin-bottom: 30px;
}

/* BUTTON */
.start-btn {
  background: #22c55e;
  border: none;
  padding: 14px 36px;
  font-size: 18px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.start-btn:hover {
  background: #16a34a;
  transform: translateY(-2px);
}

/* MOBILE */
@media (max-width: 768px) {
  .home-card {
    width: 90%;
    padding: 30px;
  }

  .home-title {
    font-size: 32px;
  }
}
