/* BACKGROUND */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-image: url("https://img.freepik.com/premium-photo/pencil-checking-off-todo-list-3d-rendering-with-blue-background-copy-space_8087-3153.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: white;
}

/* HOME */
.home-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-card {
  background: rgba(0,0,0,0.5);
  padding: 60px;
  border-radius: 20px;
  text-align: center;
  backdrop-filter: blur(8px);
}

.home-card h1 {
  font-size: 48px;
}

.home-card button {
  margin-top: 20px;
  padding: 14px 30px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background: #00c6ff;
  color: white;
  cursor: pointer;
}

/* TODO PAGE */
.todo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.todo-card {
  background: rgba(0,0,0,0.6);
  padding: 30px;
  border-radius: 15px;
  width: 500px;
  backdrop-filter: blur(10px);
}

.task-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-form input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

.task-form button {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  background: #00c6ff;
  color: white;
  cursor: pointer;
}

.task-item {
  display: flex;
  justify-content: space-between;
  background: rgba(255,255,255,0.1);
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}

.delete {
  background: red;
  color: white;
  margin-left: 10px;
}

.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 8px 16px;
}
